nav{
    background-color: #717171 !important;

}

body {
    background-color: #1E1E1E !important;
    font-family: 'Oswald', sans-serif !important;
}

h1,h2,h3
{
    color: white;
}


/* Reset */
html{
    font-size: 62.5%;
}

body{
    font: 1.6rem sans-serif;
    font-family: 'Barlow', sans-serif;
}

input{
    border-radius: 1rem;
}

fieldset{
    border: none;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6D7CFF !important;
}

h1{
    margin-top: 10rem !important;
    font-size: 5.5rem !important;
}

h2{
    font-size: 4.5rem !important;
}

h3{
    font-size: 3.5rem !important;
}

h4{
    font-size: 2.5rem !important;
}

p{
    font-size: 2rem !important;

}

a{
    text-decoration: none;
    color: white !important;
}

li{
    font-size: 2.5rem;
    list-style-type: none;
}

h1, h2, ul, body, p, figure, ol, blockquote, button{
    margin: 0;
    padding: 0;
}

.m-15{
    margin: 1.5rem;
}

.w-50 {
    width: 50%;
}

.mb-20 {
    margin-bottom: 2.0rem;
}

.mt-20{
    margin-top: 2.0rem;
}

.p-15 {
    padding: 1.0rem;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 1rem;
    margin: .8rem;
    border-radius: .4rem;
}
header button{
    padding: .8rem;
    border-radius: 1rem;
}


/* CSS Login */

.title-portal{
    margin-top: 5rem;
}
.title-portal, form, form .group-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



input{
    background-color: none;
    border: none;
    border-bottom: white;
    margin: 2rem !important;
}


.btn-submit{
    background-color: #D9D9D9;
}


p{
    color: white;
}


/* Theme Nav */
.logo-nft{
    height: 5rem;
    width: 5rem;
}
.nav-nav{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}

.nav-identify{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home */

.all-nft{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    justify-content: space-around;
    background-color: none !important;
    color: white;
}

.filter li {
    border: .1rem solid white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 2rem;
}

.card-nft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.card-nft a{
    background-color: #717171;
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem;
    border-radius: 0 0 2rem 2rem ;
    font-size: 2rem ;
}

.card-nft figure img, figure, .card-nft a {
    width: 30rem;
}

.card-nft figure img, figure{
    height: 30rem;
    border-radius: 2rem 2rem 0 0;
    margin-top: 1rem;
}

.btn-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-price{
    color:#54E762;
}


/* Details CSS */


.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
